/* ↓about__pc↓ */

//../←階層が一つ上の指定
@import "variable.scss";

.wrapper {
  margin: 0 auto;
}

.hero-img {
  background: url(../assets/about__hero.jpg) center center / cover no-repeat;
}

.section {
  margin-bottom: 220px;
  text-align: center;
  @media(min-width: 481px){
    .br-sp {
      display: none;
    }
    .br-pc {
      display: block;
    }
  }
  @media (max-width: 480px) {
    .br-sp {
      display: block;
    }
    .br-pc {
      display: none;
    }
  }

  &__lede {
    font-size: $font-size_text;
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__title {
    font-family: $font-family_NotoSansJP;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 4.67px;
  }

  &__info {
    font-size: $font-size_text;
    justify-content: center;
    line-height: $line-hight_text;
    margin: 0 auto;
  }
}

.flex-box__item--img {
  height: 140px;
  object-fit: cover;
  width: 216px;
}

.frame__img {
  background-color: #B6E2EC;
  bottom: 115px;
  height: 120px;
  margin-bottom: -120px;
  position: relative;
  right: 10px;
  width: 190px;
  z-index: -1;
}

.flex-box__item--title {
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 10px 0;
  text-align: left;
}

.flex-box__item--date{
  font-family: 'Lekton', sans-serif;
  font-size: 10px;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

dt {
  font-weight: bold;
}

li {
  line-height: 20px;
}


@media(min-width: 481px) {
  dt {
    float: left;
    margin-left: 18%;
    text-align: right;
    width: 20%;
  }

  dd {
    margin-left: 45%;
    text-align: left;
  }

  .section__flex-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 555px;
    }
}

  @media(max-width: 480px) {
    dl {
      margin-bottom: 25px;
    }
    dt {
      margin-bottom: 10px;
    }
    dd {
      margin: 0;
    }

    .section__flex-box--item {
    margin: 0 auto 40px;
    width: 78%;
    }
    .flex-box__item--title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    }
  }

//
//   .about__section__description__pc {
//     display: block;
//   }
//
//   .about__section__description__sp {
//     display: none;
//   }
// }
