@import "variable.scss";

.wrapper{
  width: 100%;
  margin: 0 auto;
}

// h1 {
//   margin: 0;
//   font-weight: lighter;
//   letter-spacing: 7px;
//   color: #393E46;
//   font-size: 45px;
//   text-align: center;
//   font-family: 'Roboto', sans-serif;
//   display: inline-block;
//   margin-top: 291.5px;
//   z-index: 2;
//   text-shadow: 0 0 10px #fff;
// }

.contact-hero-img {
  background: url(../images/contact__hero.jpg) center center / cover no-repeat;
}

.section__lede {
  text-align: center;
  margin: $contact-mg-btm 0;
  p {
   line-height: 30px;
 }
}


.sns-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 110px;
  margin-bottom: $contact-mg-btm;
}

.sns-btn__each {
  color: rgb(51,179,202);
  margin-left: 14px;
  &:hover{
    opacity: 0.7;
  }
}

// .contact-form-parent{
//   display: flex;
//   justify-content: center;
//   margin-bottom: $contact-mg-btm;
// }
/* ↑contact__pc↑ */


/*↓contact__sp↓*/
@media(max-width: 480px) {
  .contact__hero-img {
    background: url(../images/contact__hero.jpg) -30px center / cover no-repeat;
  }

  .sns-btn {
    padding-right: 20px;
    margin-bottom: $contact-mg-btm;
  }
}
