@import "variable.scss";

$home-margin:140px;

@mixin home-h2 {
  /* font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 45px;
  color: #393E46;
  letter-spacing: 6px; */
  text-align: center;
  margin-bottom: 70px;
}

@mixin home-container {
  display: flex;
//  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
  width: 690px;
}

@mixin home-txt {
  font-family: 'Sawarabi Gothic', sans-serif;
  letter-spacing: 2.5px;
  color: #33B3CA;
  font-weight: lighter;
  line-height: 40px;
  margin-top: 35px;
  font-size: 18px;
  text-align: left;
}

@mixin home-img {
  width: 210px;
  height: auto;
  margin: 0 10px;
}

.index__hero-img {
  background: url(assets/index__hero.jpg) center -350px / cover no-repeat;
  // height: 550px;
  // margin-bottom: 50px;
  // text-align: center;
  // position: relative;
  // top: 0px;
}

.wrapper {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

.home-about {
  margin-bottom: $home-margin;
  h2{
    @include home-h2;
  }
  &__container{
    @include home-container;
    img{
      @include home-img;
    }
    &--txt{
      @include home-txt;
    }
  }
}

.home-works{
  margin-bottom: $home-margin;
  h2{
    @include home-h2
  }
  &__container{
    @include home-container;
    img{
      @include home-img;
    }
  }
}

.home-contact{
  margin-bottom:$home-margin;
  h2{
    @include home-h2;
  }
  &__container--txt{
    @include home-txt;
    text-align: center;
    .br-sp {
      @media(min-width: 481px){
        display: none;
      }
    }
    .br-pc {
      @media(min-width: 481px){
        display: block;
      }
    }
  }
}



//↑home__pc
@media(max-width: 480px) {
  .index__hero-img {
    background: url(../../images/index__hero.jpg) -140px center / cover no-repeat;
    background: url(../../images/key-visual-logo.png) -140px center / cover no-repeat;
    height: 610px;
  }

  .key-visual-logo {
    display: block;
    margin: auto;
    position: relative;
    top: 30%;
  }

  .hidden-img {
    display: none;
  }

  h2 {
    margin-bottom: 20px;
  }

  .index__section__container__about {
    display: block;
    max-width: 100%;
  }

  .index__section__container__about img {
    display: block;
    margin: 0 auto;
    width: 25%;
  }

  .index__section__container__about__txt {
    text-align: center;
  }

  .index__section__container__btn {
    margin: 50px auto 0;
    display: block;
  }

  .index__section__container__txt__br-pc {
    display: none;
  }

  .index__section {
    margin: 0 auto 250px;
  }
}
//↓home__sp
