$blue:#33B3CA;
$white:#FFF;
$black:#393E46;
$font-family_Roboto: 'Roboto', sans-serif;
$font-family_NotoSansJP:'Noto Sans JP', sans-serif;
$font-size_sentence:14px;
$font-size_topic:45px;
$line-hight_text:15px;
$font-size_text:16px;
$contact-mg-btm: 80px;
