@import "variable.scss";

@mixin works-section {
  height: 300px;
  width: 200px;
  position: relative;
  margin: 0 10px 100px 0;
  padding: 0 20px;
  border-radius: 10px;
}

@mixin works-wrapper {
  height: 300px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  &:hover .works-section__text{
    transform: translateY(0);
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

@mixin works-section__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

@mixin works-section__text {
  bottom: 0;
  transform: translateY(100%);
  position: absolute;
  padding: 10px;
  width: calc(100% - 20px);
  height: 30%;
  background-color: #f5f5f5;
  opacity: 0.8;
  transition-duration: 0.4s;
  border-radius: 0 0 5px;
}

@mixin works-p {
  font-size: 8px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: left;
}

@mixin works-h2 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
}

@mixin works-category {
  bottom: -10px;
  /* right: 40px; */
  text-align: center;
  color: $white;
  padding: 5px;
  position: absolute;
  text-align: center;
  font-size: 12px;
  width: 80px;
  background-color:#33B3CA;
  font-family: $font-family_Roboto;
  border-radius: 5px;
  letter-spacing: 1px;
}

@media(min-width: 481px){
  .title-for-sp{
    display: none;
  }
}

.works__hero-img{
  background: url(assets/works__hero.jpg) center -350px / cover no-repeat;
  height: 610px;
}

.works {
  display: flex;
  /* align-content: space-between; */
  flex-wrap: wrap;
  width: 75vw;
  margin: 100px auto 100px auto;
  // justify-content: center;
  .works-section{
    @include works-section;
    .works-wrapper{
      @include works-wrapper;
      }
      .works-section__img{
        @include works-section__img;
      }
      .works-section__text{
        @include works-section__text;
        p{
          @include works-p;
        }
        h2{
          @include works-h2;
        }
      }
    }
    .category{
      @include works-category;
    }
  }

//↓smartphone
.title-for-sp{
  margin-top: 20px;
  font-family: $font-family_Roboto;
  /* text-align: center; */
}

@media(max-width: 480px){
  .works {
    justify-content: center;
    &__hero-img{
      background: url(assets/works__hero.jpg) -138px center / cover no-repeat;
    }
  }
  .works-section{
    margin-bottom: 150px;
    padding: 0;
  }
}
