// .ngg-imagebrowser.default-view, .ngg-imagebrowser-nav, .back, .ngg-imagebrowser, .default-view, .ngg-imagebrowser-nav, .next {
//     height: 0px;
// }

.next {
    height: 0px;
}

.works {
    width: 80% !important;
    justify-content: space-around;
}

.key-visual__frame__more {
    width: 100%;
    height: 300px;
    background-color: red;
    display: none;
}


// 以下はスライドショーのスタイル指定
.ngg-browser-prev {
    display: inline !important;
    background-color: #33B3CA !important;
}

.ngg-browser-next {
    display: inline !important;
    background-color: #33B3CA !important;
}

.counter {
    display: none;
}

h3 {
    display: none;
}