@import "breakpoint.scss";

.next {
    height: 0px;
}

.works {
    width: 80% !important;
    justify-content: space-around;
}

.key-visual__frame__more {
    display: none;
}


// 以下はスライドショーのスタイル指定
.ngg-browser-prev {
    display: inline !important;
    background-color: #33B3CA !important;
}

.ngg-browser-next {
    display: inline !important;
    background-color: #33B3CA !important;
}

.counter {
    display: none;
}

h3 {
    display: none;
}

// ビューワーの切り替え設定

.pc {
    @include tablet {
        display: none;
    }
}

.sp {
    display: none;
    @include tablet {
        display: block;
    }
}

// pc tabletそれぞれの slideの表示切り替え
.pc-slide {
    @include tablet {
        display: none;
    }
}

.sp-slide {
    display: none;
    @include tablet {
        display: block;
    }
}

// navigationの表示切り替え
.swiper-button-prev:after, .swiper-button-next:after {
    display: block;
    @include tablet {
        display: none;
    }
}

.swiper-container {
    @include tablet {
        width: 80vw;
    }
}

.works-single__wrapper {
    @include tablet {
        width: 80vw;
    }
}

.works-single__container {
    // margin: 64px auto;
    // width: 70vw;
    @include tablet {
        margin: 64px auto;
        width: 80vw;
    }
}

.swiper-slide__img {
    @include tablet {
        height: auto;
    }
}

.header-wrapper {
    z-index: 2;
}