// .ngg-imagebrowser.default-view, .ngg-imagebrowser-nav, .back, .ngg-imagebrowser, .default-view, .ngg-imagebrowser-nav, .next {
//     height: 0px;
// }

.next {
    height: 0px;
}

.works {
    width: 80% !important;
    justify-content: space-around;
}