@charset "UTF-8";
.hero__section {
  margin-bottom: 50px;
  height: 550px;
  text-align: center;
  position: relative;
  top: 0px; }

.a__img:hover {
  opacity: 0.7;
  transition: 0.5s; }

.btn {
  display: block;
  width: 250px;
  height: 40px;
  background-color: #33B3CA;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  vertical-align: middle;
  line-height: 40px;
  margin: 50px auto 0;
  border: solid 1px #33B3CA;
  font-family: "Roboto", sans-serif; }
  .btn:hover {
    color: #33B3CA;
    background-color: #FFF;
    border: solid 1px #33B3CA;
    transition: 0.5s; }

body {
  width: 100%;
  margin: 0; }

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 45px;
  color: #393E46;
  letter-spacing: 6px;
  text-align: center; }

a {
  font-size: 14px;
  text-decoration: none; }

p {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  color: #463E39;
  letter-spacing: 1.87px;
  font-size: 14px;
  text-decoration: none; }

h1 {
  margin: 0;
  font-weight: lighter;
  letter-spacing: 7px;
  color: #393E46;
  font-size: 45px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-top: 291.5px;
  z-index: 2;
  text-shadow: 0 0 10px #393E46; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*↓header__pc↓*/
@media (min-width: 480px) {
  .header {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 10px 0 #888888;
    display: flex;
    height: 70px;
    width: 100%;
    opacity: 0.8;
    position: fixed;
    z-index: 1; }
    .header__flex-box {
      display: flex;
      align-items: center; }
      .header__flex-box img {
        margin: 20px 0 20px 60px;
        width: 300px;
        max-width: 300px; }
        .header__flex-box img:hover {
          opacity: 0.6;
          transition: 0.5s; }
    .header__menu {
      margin: 20px 0 20px 310px; }
      .header__menu .header__each-menu {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        letter-spacing: 2.4px; }
      .header__menu .header__each-menu:hover {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #33B3CA;
        transition: color 0.5s; }
      .header__menu .header__sns-item {
        height: 30px;
        padding: 0 10px;
        width: 30px;
        transition: 0.5s;
        color: #33B3CA; }

  a {
    text-decoration: none;
    color: #33B3CA;
    font-size: 16px; }

  ul {
    display: flex;
    list-style-type: none; }

  li {
    padding: 0 15px; }

  .sns-btn__each {
    color: #33B3CA; }

  .header-sns {
    margin: 20px 55px 20px 0; }
    .header-sns .sns-btn__each {
      color: #33B3CA; }
    .header-sns__item:hover {
      opacity: 0.6; }

  .cp_cont {
    display: none; } }
/*↑header__pc↑*/
/*↓header__sp↓*/
@media (max-width: 480px) {
  *, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }

  ol, ul {
    list-style: none; }

  a {
    text-decoration: none;
    color: inherit;
    display: none; }

  .cp_cont {
    position: relative;
    z-index: 2; }

  .cp_cont img {
    margin: 13px 10px 10px 50px;
    display: inline-block; }

  .cp_offcm01 {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block; }

  /* menu */
  .cp_offcm01 .cp_menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 250px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: 0.53s transform;
    transition: 0.53s transform;
    -webkit-transition-timing-function: cubic-bezier(0.38, 0.52, 0.23, 0.99);
    transition-timing-function: cubic-bezier(0.38, 0.52, 0.23, 0.99);
    background-color: #30B3C9;
    opacity: 0.8; }

  .cp_offcm01 .cp_menu ul {
    margin: 0;
    padding: 0; }

  .cp_offcm01 .cp_menu li {
    list-style: none; }

  .cp_offcm01 .cp_menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff; }

  .cp_offcm01 #cp_toggle01 {
    position: absolute;
    display: none;
    opacity: 0; }

  .cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }

  /* menu toggle */
  .cp_offcm01 #cp_toggle01 ~ label {
    display: block;
    padding: 0.5em;
    cursor: pointer;
    -webkit-transition: 0.5s transform;
    transition: 0.5s transform;
    -webkit-transition-timing-function: cubic-bezier(0.61, -0.38, 0.37, 1.27);
    transition-timing-function: cubic-bezier(0.61, -0.38, 0.37, 1.27);
    text-align: center;
    color: #333333;
    opacity: 0.6; }

  .cp_offcm01 #cp_toggle01:checked ~ label {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); }

  .cp_offcm01 #cp_toggle01 ~ label::before {
    font-family: 'FontAwesome';
    content: '\f0c9';
    font-size: 2em;
    color: #393E46; }

  .cp_offcm01 #cp_toggle01:checked ~ label::before {
    content: '\f00d'; }

  /* contents */
  .cp_contents {
    color: #333333;
    text-align: center; }

  .bumburger-font {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; } }
/*↑header__sp↑*/
.footer-inner {
  background-color: #393E46;
  height: 60px;
  width: 100%;
  /* position: fixed;
  bottom: 0; */ }
  .footer-inner .footer-logo {
    text-align: center; }
    .footer-inner .footer-logo p {
      color: #FFF;
      line-height: 60px;
      margin: auto; }

.index__hero-img {
  background: url(assets/index__hero.jpg) center -350px/cover no-repeat; }

.wrapper {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  flex-wrap: wrap; }

.home-about {
  margin-bottom: 140px; }
  .home-about h2 {
    /* font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 45px;
    color: #393E46;
    letter-spacing: 6px; */
    text-align: center;
    margin-bottom: 70px; }
  .home-about__container {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-between;
    width: 690px; }
    .home-about__container img {
      width: 210px;
      height: auto;
      margin: 0 10px; }
    .home-about__container--txt {
      font-family: 'Sawarabi Gothic', sans-serif;
      letter-spacing: 2.5px;
      color: #33B3CA;
      font-weight: lighter;
      line-height: 40px;
      margin-top: 35px;
      font-size: 18px;
      text-align: left; }

.home-works {
  margin-bottom: 140px; }
  .home-works h2 {
    /* font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 45px;
    color: #393E46;
    letter-spacing: 6px; */
    text-align: center;
    margin-bottom: 70px; }
  .home-works__container {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-between;
    width: 690px; }
    .home-works__container img {
      width: 210px;
      height: auto;
      margin: 0 10px; }

.home-contact {
  margin-bottom: 140px; }
  .home-contact h2 {
    /* font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 45px;
    color: #393E46;
    letter-spacing: 6px; */
    text-align: center;
    margin-bottom: 70px; }
  .home-contact__container--txt {
    font-family: 'Sawarabi Gothic', sans-serif;
    letter-spacing: 2.5px;
    color: #33B3CA;
    font-weight: lighter;
    line-height: 40px;
    margin-top: 35px;
    font-size: 18px;
    text-align: left;
    text-align: center; }
    @media (min-width: 481px) {
      .home-contact__container--txt .br-sp {
        display: none; } }
    @media (min-width: 481px) {
      .home-contact__container--txt .br-pc {
        display: block; } }

@media (max-width: 480px) {
  .index__hero-img {
    background: url(../../images/index__hero.jpg) -140px center/cover no-repeat;
    background: url(../../images/key-visual-logo.png) -140px center/cover no-repeat;
    height: 610px; }

  .key-visual-logo {
    display: block;
    margin: auto;
    position: relative;
    top: 30%; }

  .hidden-img {
    display: none; }

  h2 {
    margin-bottom: 20px; }

  .index__section__container__about {
    display: block;
    max-width: 100%; }

  .index__section__container__about img {
    display: block;
    margin: 0 auto;
    width: 25%; }

  .index__section__container__about__txt {
    text-align: center; }

  .index__section__container__btn {
    margin: 50px auto 0;
    display: block; }

  .index__section__container__txt__br-pc {
    display: none; }

  .index__section {
    margin: 0 auto 250px; } }
/* ↓about__pc↓ */
.wrapper {
  margin: 0 auto; }

.hero-img {
  background: url(../assets/about__hero.jpg) center center/cover no-repeat; }

.section {
  margin-bottom: 220px;
  text-align: center; }
  @media (min-width: 481px) {
    .section .br-sp {
      display: none; }
    .section .br-pc {
      display: block; } }
  @media (max-width: 480px) {
    .section .br-sp {
      display: block; }
    .section .br-pc {
      display: none; } }
  .section__lede {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px; }
  .section__title {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 4.67px; }
  .section__info {
    font-size: 16px;
    justify-content: center;
    line-height: 15px;
    margin: 0 auto; }

.flex-box__item--img {
  height: 140px;
  object-fit: cover;
  width: 216px; }

.frame__img {
  background-color: #B6E2EC;
  bottom: 115px;
  height: 120px;
  margin-bottom: -120px;
  position: relative;
  right: 10px;
  width: 190px;
  z-index: -1; }

.flex-box__item--title {
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 10px 0;
  text-align: left; }

.flex-box__item--date {
  font-family: 'Lekton', sans-serif;
  font-size: 10px;
  text-align: left; }

ul {
  list-style: none;
  padding: 0; }

dt {
  font-weight: bold; }

li {
  line-height: 20px; }

@media (min-width: 481px) {
  dt {
    float: left;
    margin-left: 18%;
    text-align: right;
    width: 20%; }

  dd {
    margin-left: 45%;
    text-align: left; }

  .section__flex-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 555px; } }
@media (max-width: 480px) {
  dl {
    margin-bottom: 25px; }

  dt {
    margin-bottom: 10px; }

  dd {
    margin: 0; }

  .section__flex-box--item {
    margin: 0 auto 40px;
    width: 78%; }

  .flex-box__item--title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left; } }
@media (min-width: 481px) {
  .title-for-sp {
    display: none; } }
.works__hero-img {
  background: url(assets/works__hero.jpg) center -350px/cover no-repeat;
  height: 610px; }

.works {
  display: flex;
  /* align-content: space-between; */
  flex-wrap: wrap;
  width: 75vw;
  margin: 100px auto 100px auto; }
  .works .works-section {
    height: 300px;
    width: 200px;
    position: relative;
    margin: 0 10px 100px 0;
    padding: 0 20px;
    border-radius: 10px; }
    .works .works-section .works-wrapper {
      height: 300px;
      width: 200px;
      position: relative;
      overflow: hidden;
      border-radius: 5px; }
      .works .works-section .works-wrapper:hover .works-section__text {
        transform: translateY(0);
        transition-duration: 0.4s;
        cursor: pointer; }
    .works .works-section .works-section__img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 5px; }
    .works .works-section .works-section__text {
      bottom: 0;
      transform: translateY(100%);
      position: absolute;
      padding: 10px;
      width: calc(100% - 20px);
      height: 30%;
      background-color: #f5f5f5;
      opacity: 0.8;
      transition-duration: 0.4s;
      border-radius: 0 0 5px; }
      .works .works-section .works-section__text p {
        font-size: 8px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        text-align: left; }
      .works .works-section .works-section__text h2 {
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: left; }
  .works .category {
    bottom: -10px;
    /* right: 40px; */
    text-align: center;
    color: #FFF;
    padding: 5px;
    position: absolute;
    text-align: center;
    font-size: 12px;
    width: 80px;
    background-color: #33B3CA;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    letter-spacing: 1px; }

.title-for-sp {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */ }

@media (max-width: 480px) {
  .works {
    justify-content: center; }
    .works__hero-img {
      background: url(assets/works__hero.jpg) -138px center/cover no-repeat; }

  .works-section {
    margin-bottom: 150px;
    padding: 0; } }
.wrapper {
  width: 100%;
  margin: 0 auto; }

.contact-hero-img {
  background: url(../images/contact__hero.jpg) center center/cover no-repeat; }

.section__lede {
  text-align: center;
  margin: 80px 0; }
  .section__lede p {
    line-height: 30px; }

.sns-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 110px;
  margin-bottom: 80px; }

.sns-btn__each {
  color: #33b3ca;
  margin-left: 14px; }
  .sns-btn__each:hover {
    opacity: 0.7; }

/* ↑contact__pc↑ */
/*↓contact__sp↓*/
@media (max-width: 480px) {
  .contact__hero-img {
    background: url(../images/contact__hero.jpg) -30px center/cover no-repeat; }

  .sns-btn {
    padding-right: 20px;
    margin-bottom: 80px; } }

/*# sourceMappingURL=master.css.map */
