@import "variable.scss";

$white:#FFF;
$black:#393E46;

//↓footer__pc↓
.footer-inner {
  background-color: $black;
  height: 60px;
  width: 100%;
  /* position: fixed;
  bottom: 0; */
  .footer-logo {
    text-align: center;
    p {
      color: $white;
      line-height: 60px;
      margin: auto;
    }
  }
}
//↑footer__pc↑
